# Sicherheit
**/id_rsa
**/id_rsa.pub
**/*.pem
**/*.key
**/known_hosts*

# Lokale Anpassungen
**/*.local
**/*.local.zsh
**/local.el

# OS-Müll
.DS_Store
*.stowbak

# Emacs-Müll (Cache, Pakete, Backups)
**/elpa/
**/eln-cache/
**/auto-save-list/
**/backup-files/
**/transient/
**/tramp
**/request/
**/org-persist/
**/.#*
**/bookmarks
**/custom.el

# Zsh-Spezifisches
**/.zsh_sessions/
**/.zsh_history
**/.zcompdump
zsh/.config/zsh/.zsh_history
